openapi: 3.0.3
info:
  title: Distributed Monitoring System API
  description: |
    API for a distributed monitoring system that tracks reachability and performance 
    of agents installed on various hosts. This system provides real-time monitoring, 
    alerting, and reporting capabilities.
    
    ## Authentication
    
    ### OAuth2 Authentication
    This API supports OAuth2 authentication with multiple identity providers:
    - **Authorization Code Flow**: For web applications and dashboards
    - **Client Credentials Flow**: For service-to-service communication
    - **PKCE**: Supported for enhanced security in public clients
    
    Supported Identity Providers:
    - Okta (OIDC)
    - Auth0 (OIDC)
    - Azure AD / Microsoft Entra ID (OIDC)
    - Google Workspace (OIDC)
    - GitHub (OAuth2 only — no OIDC, no revocation endpoint, no end-session)
    - Generic OIDC or static OAuth2 providers (configured on the server)
    
    ### Agent Authentication
    Agents use API keys for authentication (separate from OAuth2).
    
    ## Rate Limiting
    - Agent endpoints: 1000 requests per minute per agent
    - User endpoints: 100 requests per minute per user
    - Admin endpoints: 50 requests per minute per user
    
    ## WebSocket API
    For real-time updates, see the AsyncAPI specification at `/docs/websocket-api.yaml`
    
  version: 0.0.1
  contact:
    name: API Support
    email: support@example.com
  license:
    name: Source Available License
    url: https://github.com/smotra-monitoring/monitoring-system/blob/main/LICENSE

servers:
  - url: https://api.smotra.net/v1
    description: Production server
  - url: https://staging-api.smotra.net/v1
    description: Staging server
  - url: http://localhost:8080/v1
    description: Local development server

tags:
  - name: agent
    description: Agent-related operations (data submission, configuration)
  - name: result
    description: Result and metrics retrieval operations
  - name: configuration
    description: Agent configuration management
  - name: alerts
    description: Alert management and notification settings
  - name: authentication
    description: User authentication and authorization
  - name: users
    description: User management operations
  - name: organizations
    description: Multi-tenant organization management
  - name: health
    description: System health and monitoring endpoints
  - name: websocket
    description: WebSocket connection management
  - name: current
    description: -- Currently in development --

security:
  - OAuth2AuthorizationCode: []
  - OAuth2ClientCredentials: []

# ============================================
# ============================================
# ============================================
# PATHS
# ============================================
# ============================================
# ============================================

paths:
  # ============================================
  # AGENT ENDPOINTS
  # ============================================
  
  /agent/register:
    post:
      tags:
        - agent
      summary: Agent self-registration (unclaimed)
      description: |
        Agents use this endpoint to self-register when starting for the first time.
        This creates an unclaimed agent record that must be claimed by a user 
        before the agent can become operational.
        
        **Workflow:**
        1. Agent generates its own UUIDv7 as agentId
        2. Agent generates a random claim token (e.g., "ABC123XY")
        3. Agent hashes token with SHA-256 and sends hash to server
        4. Agent shows plain token in logs for user to copy
        5. Server creates record in agent_claims table
        6. Agent starts polling /agent/{agentId}/claim-status
        7. User claims agent via web UI using agentId + plain claimToken
        8. Server hashes user's input and validates against stored hash
        9. Agent receives API key on next poll
        
        **Security:** Sending the hash instead of plain token provides defense in depth,
        ensuring the claim token never travels over the network in plain text.
        
        This endpoint is idempotent - multiple calls from the same agentId 
        will update the last_seen_at timestamp.
      operationId: registerAgentSelf
      security: []  # Unauthenticated
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgentSelfRegistration'
            example:
              agentId: "0197f96c-b278-7f64-a32f-dae3cabe1ff0"
              claimTokenHash: "5e884898da28047151d0e56f8dc6292773603d0d6aabbdd62a11ef721d1542d8"
              hostname: "prod-server-01"
              agentVersion: "1.0.0"
              ipAddresses: [
                {
                  ip: "192.168.1.1",
                  iface: "eth0",
                  family: "ipv4",
                  recommended: true
                },
                {
                  ip: "fe80::1",
                  iface: "eth0",
                  family: "ipv6",
                  recommended: false
                }
              ]
      responses:
        '201':
          description: Agent registration request created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentRegistrationResponse'
              example:
                status: "pending_claim"
                pollUrl: "/agent/0197f96c-b278-7f64-a32f-dae3cabe1ff0/claim-status"
                claimUrl: "https://yoursite.com/claim"
                expiresAt: "2026-02-01T12:00:00Z"
        '200':
          description: Agent registration request updated (idempotent)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentRegistrationResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /agent/{agentId}/claim-status:
    get:
      tags:
        - agent
      summary: Check agent claim status (polling endpoint)
      description: |
        Agent polls this endpoint to check if it has been claimed by a user.
        When claimed, this endpoint returns the API key that the agent should 
        use for all future authenticated requests.
        
        **Agent Behavior:**
        - Poll every 30-60 seconds while unclaimed
        - Stop polling after receiving API key
        - Store API key securely in configuration
        
        **Response States:**
        - `pending_claim`: Still waiting for user to claim
        - `claimed`: User has claimed, API key included (one-time delivery)
        - `expired`: Claim token expired, agent must re-register
      operationId: getAgentClaimStatus
      security: []  # Unauthenticated
      parameters:
        - $ref: '#/components/parameters/AgentId'
      responses:
        '200':
          description: Claim status retrieved
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ClaimStatusPending'
                  - $ref: '#/components/schemas/ClaimStatusClaimed'
              examples:
                pending:
                  summary: Agent not yet claimed
                  value:
                    status: "pending_claim"
                    expiresAt: "2026-02-01T12:00:00Z"
                claimed:
                  summary: Agent claimed, API key delivered
                  value:
                    status: "claimed"
                    apiKey: "sk_live_abc123def456..."
                    configUrl: "/agent/0197f96c-b278-7f64-a32f-dae3cabe1ff0/configuration"
        '404':
          description: Agent registration not found or expired
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                message: "Agent registration not found or has expired"
                code: "AGENT_CLAIM_NOT_FOUND"
        '500':
          $ref: '#/components/responses/InternalServerError'

  /agent/claim:
    post:
      tags:
        - agent
      summary: Claim an agent (Web UI)
      description: |
        User claims an agent by providing the agentId and claimToken found in 
        the agent's startup logs. This endpoint:
        
        1. Validates the claim token
        2. Creates the agent in the production agents table
        3. Generates an API key for the agent
        4. Associates agent with user's tenant and chosen section
        5. Marks claim as satisfied
        
        The agent will receive the API key on its next poll to /agent/{agentId}/claim-status.
      operationId: postClaimAgent
      security:
        - OAuth2AuthorizationCode: [agent:write]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClaimAgentRequest'
            example:
              agentId: "0197f96c-b278-7f64-a32f-dae3cabe1ff0"
              claimToken: "ABC123XY"
              sectionId: "0197f96d-1234-7f64-a32f-dae3cabe1ff0"
              name: "Production Server 01"
      responses:
        '200':
          description: Agent claimed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClaimAgentResponse'
              example:
                agentId: "0197f96c-b278-7f64-a32f-dae3cabe1ff0"
                status: "claimed"
                message: "Agent will receive API key on next poll"
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Forbidden - Invalid claim token or expired
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                message: "Invalid or expired claim token"
                code: "CLAIM_TOKEN_INVALID"
        '404':
          description: Agent registration not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                message: "Agent registration not found"
                code: "AGENT_CLAIM_NOT_FOUND"
        '409':
          description: Agent already claimed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                message: "Agent has already been claimed"
                code: "AGENT_ALREADY_CLAIMED"
        '500':
          $ref: '#/components/responses/InternalServerError'

  /agent/{agentId}/configuration:
    get:
      tags:
        - agent
      summary: Get agent configuration
      description: Retrieve current configuration for a specific agent
      operationId: getAgentConfiguration
      security:
        - AgentApiKey: []
        - OAuth2AuthorizationCode: [agent:read]
      parameters:
        - $ref: '#/components/parameters/AgentId'
      responses:
        '200':
          description: Configuration retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentConfig'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '501':
          $ref: '#/components/responses/NotImplemented'
        '503':
          $ref: '#/components/responses/InternalServerError'

  /agent/{agentId}/heartbeat:
    post:
      tags:
        - agent
      summary: Send agent heartbeat
      description: |
        Lightweight endpoint for agents to signal they are alive and 
        report host resource utilization (CPU, memory). The server stores
        the metrics snapshot in agent_vitals for dashboard display.
      operationId: sendAgentHeartbeat
      security:
        - AgentApiKey: []
      parameters:
        - $ref: '#/components/parameters/AgentId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgentHeartbeat'
            example:
              timestamp: "2026-05-03T12:00:00Z"
              health_status: healthy
              metrics:
                agent_uptime_secs: 3600
                cpu_usage_percent: 23.5
                memory_usage_mb: 1024.0
                memory_total_mb: 8192.0
                system_uptime_secs: 86400
      responses:
        '204':
          description: Heartbeat received
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/InternalServerError'

  /agent/{agentId}/results:
    post:
      tags:
        - agent
      summary: Submit batch monitoring results
      description: |
        Agent submits a batch of monitoring results that were buffered in its
        local result cache. The server deduplicates by `result.id` so
        retransmitting the same batch on network failure is safe.
      operationId: submitAgentResults
      security:
        - AgentApiKey: []
      parameters:
        - $ref: '#/components/parameters/AgentId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchMonitoringResults'
      responses:
        '202':
          description: Batch accepted for processing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultsBatchAcknowledgment'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '503':
          $ref: '#/components/responses/InternalServerError'

  # ============================================
  # AGENT LIST ENDPOINT
  # ============================================

  /agents:
    get:
      tags:
        - agent
      summary: List agents
      description: |
        Returns a paginated list of agents belonging to the authenticated user's tenant.
        Each agent entry includes all non-sensitive fields. The response is ordered by
        creation date (newest first).

        **Permissions:** Requires a valid OAuth2 session. Agent API keys are not accepted.
      operationId: listAgents
      security:
        - OAuth2AuthorizationCode: [agents:read]
        - OAuth2ClientCredentials: [agents:read]
      parameters:
        - name: page
          in: query
          description: Page number (1-based)
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: page_size
          in: query
          description: Number of agents per page
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
      responses:
        '200':
          description: Agent list retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'

  # ============================================
  # RESULT ENDPOINTS
  # ============================================

  /result/report:
    get:
      tags:
        - result
      summary: Get monitoring results report
      description: |
        Retrieve aggregated monitoring results and metrics based on filters.
        Supports various aggregation intervals and metric types.
        
        Permissions: Requires `metrics:read` scope
      operationId: getResultReport
      security:
        - OAuth2AuthorizationCode: [metrics:read]
        - OAuth2ClientCredentials: [metrics:read]
      parameters:
        - name: agent_id
          in: query
          description: Filter by specific agent(s)
          schema:
            type: array
            items:
              type: string
          style: form
          explode: true
        - name: target
          in: query
          description: Filter by monitored target
          schema:
            type: string
        - name: metric_type
          in: query
          description: Type of metric to retrieve
          schema:
            type: string
            enum: [icmp_ping, tcp_check, http_check, traceroute, custom]
        - name: start_time
          in: query
          required: true
          description: Start of time range (RFC3339 format)
          schema:
            type: string
            format: date-time
        - name: end_time
          in: query
          required: true
          description: End of time range (RFC3339 format)
          schema:
            type: string
            format: date-time
        - name: aggregation
          in: query
          description: Aggregation interval
          schema:
            type: string
            enum: [1m, 5m, 15m, 1h, 6h, 1d]
            default: 5m
        - name: status
          in: query
          description: Filter by status
          schema:
            type: array
            items:
              type: string
              enum: [reachable, unreachable, degraded, unknown]
          style: form
          explode: true
        - name: page
          in: query
          description: Page number for pagination
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: page_size
          in: query
          description: Number of results per page
          schema:
            type: integer
            minimum: 1
            maximum: 1000
            default: 100
        - name: format
          in: query
          description: Response format
          schema:
            type: string
            enum: [json, csv]
            default: json
      responses:
        '200':
          description: Report generated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultReport'
            # text/csv:
            #   schema:
            #     type: string
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /result/metrics:
    get:
      tags:
        - result
      summary: Get raw metrics data
      description: Retrieve raw, unaggregated metrics data points
      operationId: getMetrics
      security:
        - OAuth2AuthorizationCode: [metrics:read]
        - OAuth2ClientCredentials: [metrics:read]
      parameters:
        - name: agent_id
          in: query
          required: true
          schema:
            type: string
        - name: start_time
          in: query
          required: true
          schema:
            type: string
            format: date-time
        - name: end_time
          in: query
          required: true
          schema:
            type: string
            format: date-time
        - name: metric_type
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Metrics retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricsResponse'

  /result/summary:
    get:
      tags:
        - result
      summary: Get summary statistics
      description: Get high-level summary statistics for the monitoring system
      operationId: getSummary
      security:
        - OAuth2AuthorizationCode: [metrics:read]
        - OAuth2ClientCredentials: [metrics:read]
      parameters:
        - name: time_range
          in: query
          schema:
            type: string
            enum: [1h, 24h, 7d, 30d]
            default: 24h
      responses:
        '200':
          description: Summary statistics retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SummaryStatistics'

  # ============================================
  # ALERT ENDPOINTS
  # ============================================

  /alerts:
    get:
      tags:
        - alerts
      summary: List all alerts
      description: Retrieve list of configured alerts
      operationId: listAlerts
      security:
        - OAuth2AuthorizationCode: [alerts:read]
        - OAuth2ClientCredentials: [alerts:read]
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [active, acknowledged, resolved]
        - name: severity
          in: query
          schema:
            type: string
            enum: [critical, warning, info]
        - name: page
          in: query
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: page_size
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
      responses:
        '200':
          description: Alerts retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  alerts:
                    type: array
                    items:
                      $ref: '#/components/schemas/Alert'
                  pagination:
                    $ref: '#/components/schemas/Pagination'

    post:
      tags:
        - alerts
      summary: Create new alert rule
      description: Create a new alert rule configuration
      operationId: createAlert
      security:
        - OAuth2AuthorizationCode: [alerts:write]
        - OAuth2ClientCredentials: [alerts:write]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AlertRule'
      responses:
        '201':
          description: Alert rule created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlertRule'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'

  /alerts/{alertId}:
    get:
      tags:
        - alerts
      summary: Get alert details
      operationId: getAlert
      security:
        - OAuth2AuthorizationCode: [alerts:read]
      parameters:
        - $ref: '#/components/parameters/AlertId'
      responses:
        '200':
          description: Alert details retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Alert'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      tags:
        - alerts
      summary: Delete alert rule
      operationId: deleteAlert
      security:
        - OAuth2AuthorizationCode: [alerts:write, alerts:delete]
      parameters:
        - $ref: '#/components/parameters/AlertId'
      responses:
        '204':
          description: Alert rule deleted
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /alerts/{alertId}/acknowledge:
    post:
      tags:
        - alerts
      summary: Acknowledge an alert
      operationId: acknowledgeAlert
      security:
        - OAuth2AuthorizationCode: [alerts:write]
      parameters:
        - $ref: '#/components/parameters/AlertId'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                note:
                  type: string
                  description: Optional note about the acknowledgment
                  example: "Investigating the issue"
      responses:
        '200':
          description: Alert acknowledged
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Alert'
        '404':
          $ref: '#/components/responses/NotFound'

  # ============================================
  # AUTHENTICATION & AUTHORIZATION ENDPOINTS
  # ============================================

  /auth/oauth2/authorize:
    get:
      tags:
        - authentication
      summary: OAuth2 authorization endpoint
      description: |
        Initiate OAuth2 authorization flow. Redirects user to identity provider.
        
        The server resolves provider endpoints from its configuration.
        Built-in provider names: okta, auth0, azure, google, github.
        Custom providers are also supported if configured on the server.
        
        PKCE (S256) is required. client_id and IDP URLs are server-side config only.
      operationId: oauth2Authorize
      security: []
      parameters:
        - name: provider
          in: query
          required: true
          description: |
            Identity provider name. Must match a provider configured on the server.
            Built-in values: okta, auth0, azure, google, github.
          schema:
            type: string
            example: google
        - name: scope
          in: query
          required: true
          description: Space-separated list of requested scopes
          schema:
            type: string
            example: "openid profile email"
        - name: state
          in: query
          required: true
          description: CSRF protection token generated by the client
          schema:
            type: string
        - name: code_challenge
          in: query
          required: true
          description: PKCE code challenge (BASE64URL(SHA256(code_verifier)))
          schema:
            type: string
        - name: code_challenge_method
          in: query
          required: true
          description: PKCE code challenge method — must be S256
          schema:
            type: string
            enum: [S256]
      responses:
        '302':
          description: Redirect to identity provider authorization endpoint
          headers:
            Location:
              schema:
                type: string
                format: uri
        '400':
          $ref: '#/components/responses/BadRequest'

  /auth/oauth2/callback:
    get:
      tags:
        - authentication
      summary: OAuth2 callback endpoint
      description: |
        Callback endpoint for OAuth2 authorization flow.
        This endpoint is called by the identity provider after user authentication —
        it is never called directly by end users or client applications.
        
        On success, redirects the browser to the frontend callback URL configured
        on the server (auth.frontend_callback_url), forwarding code and state.
        On error, redirects to the same frontend URL with error parameters.
      operationId: oauth2Callback
      security: []
      parameters:
        - name: code
          in: query
          description: Authorization code issued by the identity provider
          schema:
            type: string
        - name: state
          in: query
          description: CSRF protection token (must match the original authorize request)
          schema:
            type: string
        - name: error
          in: query
          description: Error code if authorization failed at the IDP
          schema:
            type: string
        - name: error_description
          in: query
          description: Human-readable error description from the IDP
          schema:
            type: string
      responses:
        '302':
          description: |
            Redirect to frontend callback URL with code+state (success)
            or error+error_description (failure).
          headers:
            Location:
              schema:
                type: string
                format: uri

  /auth/oauth2/token:
    post:
      tags:
        - authentication
      summary: Exchange authorization code for a server-managed session token
      description: |
        Completes the PKCE authorization_code flow. The server exchanges the code
        with the IdP, stores IdP tokens server-side, creates a session, and returns
        a server-managed opaque token.

        IdP tokens are never returned to the client. The provider is resolved
        server-side from the pending state (stored during /authorize).

        client_id and IdP token URL are resolved server-side from provider config.
        client_secret is never used (PKCE-only flow).
      operationId: oauth2Token
      security: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
                - grant_type
                - code
                - redirect_uri
                - code_verifier
              properties:
                grant_type:
                  type: string
                  enum: [authorization_code]
                  description: OAuth2 grant type (only authorization_code is supported here)
                code:
                  type: string
                  description: Authorization code returned by the IDP callback
                redirect_uri:
                  type: string
                  format: uri
                  description: Must exactly match the redirect_uri used in the authorization request
                code_verifier:
                  type: string
                  description: PKCE code verifier corresponding to the code_challenge sent at /authorize
      responses:
        '200':
          description: Session created; opaque token returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /auth/oauth2/revoke:
    post:
      tags:
        - authentication
      summary: Revoke a server-managed session token
      description: |
        Revokes the session associated with the provided opaque token.
        The token is immediately invalidated on the server. The server also
        attempts to revoke the underlying IdP token (best-effort; ignored if
        the provider does not support revocation).
      operationId: oauth2Revoke
      security:
        - OAuth2AuthorizationCode: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - opaque_token
              properties:
                opaque_token:
                  type: string
                  description: The opaque session token to revoke (as returned by /auth/oauth2/token or /auth/refresh)
                  example: "st_live_......................."
      responses:
        '200':
          description: Session revoked successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  warning:
                    type: string
                    description: Present if IdP revocation was skipped (provider limitation)
                    example: "Provider 'github' does not support token revocation"
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /auth/refresh:
    post:
      tags:
        - authentication
      summary: Refresh a server-managed session token
      description: |
        Issues a new opaque session token for the currently authenticated session.
        The old token is revoked atomically. The server transparently refreshes the
        underlying IdP token if needed.

        Clients should call this proactively before `expires_at` (e.g. at
        the midpoint). Returns a new TokenResponse with a fresh expires_at.
      operationId: authRefresh
      security:
        - OAuth2AuthorizationCode: []
      responses:
        '200':
          description: New session token issued
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /auth/userinfo:
    get:
      tags:
        - authentication
      summary: Get current user information
      description: |
        Retrieve information about the authenticated user from the local database.
        Requires a valid opaque session token in the Authorization header.
      operationId: getUserInfo
      security:
        - OAuth2AuthorizationCode: [openid, profile, email]
      responses:
        '200':
          description: User information retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserInfo'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /auth/logout:
    post:
      tags:
        - authentication
      summary: User logout
      description: |
        Revokes the current session and redirects the browser to the IDP end-session
        endpoint (if the provider supports it). The provider is resolved server-side
        from the session — no provider parameter is needed from the client.

        For providers with an end-session endpoint (Okta, Auth0, Azure, Google),
        the server responds with 302 to that endpoint.
        For providers without one (GitHub), the server responds with 200.
      operationId: logout
      security:
        - OAuth2AuthorizationCode: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                post_logout_redirect_uri:
                  type: string
                  format: uri
                  description: |
                    Optional URI to redirect to after IDP logout completes.
                    Forwarded to the IDP end-session endpoint as post_logout_redirect_uri.
      responses:
        '302':
          description: Redirect to IDP end-session endpoint (providers that support it)
          headers:
            Location:
              schema:
                type: string
                format: uri
        '200':
          description: |
            Logout acknowledged (providers without end-session endpoint, e.g. GitHub).
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Logged out. Provider does not support remote session termination."
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  # ============================================
  # USER MANAGEMENT ENDPOINTS
  # ============================================
  
  /users:
    get:
      tags:
        - users
      summary: List users
      description: List all users in the organization
      operationId: listUsers
      security:
        - OAuth2AuthorizationCode: [users:read]
      parameters:
        - name: organization_id
          in: query
          schema:
            type: string
            format: uuid
        - name: role
          in: query
          schema:
            type: string
            enum: [admin, operator, viewer]
        - name: page
          in: query
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: page_size
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
      responses:
        '200':
          description: Users retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  users:
                    type: array
                    items:
                      $ref: '#/components/schemas/User'
                  pagination:
                    $ref: '#/components/schemas/Pagination'

    post:
      tags:
        - users
      summary: Create user
      description: Create a new user (admin only)
      operationId: postCreateUser
      security:
        - OAuth2AuthorizationCode: [users:write, admin]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUserRequest'
      responses:
        '201':
          description: User created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'

  /users/{userId}:
    get:
      tags:
        - users
      summary: Get user details
      operationId: getUser
      security:
        - OAuth2AuthorizationCode: [users:read]
      parameters:
        - $ref: '#/components/parameters/UserId'
      responses:
        '200':
          description: User details retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '404':
          $ref: '#/components/responses/NotFound'

    patch:
      tags:
        - users
      summary: Update user
      operationId: patchUser
      security:
        - OAuth2AuthorizationCode: [users:write]
      parameters:
        - $ref: '#/components/parameters/UserId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserRequest'
      responses:
        '200':
          description: User updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      tags:
        - users
      summary: Delete user
      operationId: deleteUser
      security:
        - OAuth2AuthorizationCode: [users:write, users:delete, admin]
      parameters:
        - $ref: '#/components/parameters/UserId'
      responses:
        '204':
          description: User deleted successfully
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /users/{userId}/roles:
    put:
      tags:
        - users
      summary: Update user roles
      operationId: updateUserRoles
      security:
        - OAuth2AuthorizationCode: [users:write, roles:write, admin]
      parameters:
        - $ref: '#/components/parameters/UserId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - roles
              properties:
                roles:
                  type: array
                  items:
                    type: string
                    enum: [admin, operator, viewer]
                  minItems: 1
      responses:
        '200':
          description: Roles updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'

  # ============================================
  # ORGANIZATION MANAGEMENT ENDPOINTS
  # ============================================

  /organizations:
    get:
      tags:
        - organizations
      summary: List organizations
      description: List all organizations (super admin only)
      operationId: listOrganizations
      security:
        - OAuth2AuthorizationCode: [admin, super_admin]
      responses:
        '200':
          description: Organizations retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  organizations:
                    type: array
                    items:
                      $ref: '#/components/schemas/Organization'

    post:
      tags:
        - organizations
      summary: Create organization
      operationId: postCreateOrganization
      security:
        - OAuth2AuthorizationCode: [admin, super_admin]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrganizationRequest'
      responses:
        '201':
          description: Organization created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'

  /organizations/{organizationId}:
    get:
      tags:
        - organizations
      summary: Get organization details
      operationId: getOrganization
      security:
        - OAuth2AuthorizationCode: [org:read]
      parameters:
        - $ref: '#/components/parameters/OrganizationId'
      responses:
        '200':
          description: Organization details retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'

  # ============================================
  # WEBSOCKET CONNECTION ENDPOINTS
  # ============================================

  /websocket/token:
    post:
      tags:
        - websocket
      summary: Get WebSocket connection token
      description: |
        Generate a temporary token for establishing WebSocket connection.
        Token is valid for 5 minutes and single use only.
      operationId: getWebSocketToken
      security:
        - OAuth2AuthorizationCode: [websocket:connect]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - subscriptions
              properties:
                subscriptions:
                  type: array
                  description: List of topics to subscribe to
                  items:
                    type: string
                    enum:
                      - alerts
                      - metrics
                      - agent_status
                      - system_events
                  example: ["alerts", "metrics"]
                filters:
                  type: object
                  description: Optional filters for subscriptions
                  properties:
                    agent_ids:
                      type: array
                      items:
                        type: string
                    alert_severity:
                      type: array
                      items:
                        type: string
                        enum: [critical, warning, info]
      responses:
        '200':
          description: WebSocket token generated
          content:
            application/json:
              schema:
                type: object
                required:
                  - token
                  - websocket_url
                  - expires_at
                properties:
                  token:
                    type: string
                    description: Temporary token for WebSocket connection
                    example: "ws_tok_1234567890abcdef"
                  websocket_url:
                    type: string
                    format: uri
                    description: WebSocket endpoint URL
                    example: "wss://api.smotra.net/ws"
                  expires_at:
                    type: string
                    format: date-time
                    description: Token expiration time
                  subscriptions:
                    type: array
                    items:
                      type: string
                    description: Confirmed subscriptions
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  # ============================================
  # HEALTH & MONITORING ENDPOINTS
  # ============================================

  /healthz:
    get:
      tags:
        - health
      summary: Health check endpoint
      description: Check if the server is healthy and operational
      operationId: healthCheck
      security: []
      responses:
        '200':
          description: Server is healthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SystemStatus'
        '503':
          description: Server is unhealthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SystemStatus'

  /healthz/ready:
    get:
      tags:
        - health
      summary: Readiness check
      description: Check if server is ready to accept traffic
      operationId: readinessCheck
      security: []
      responses:
        '200':
          description: Server is ready
        '503':
          description: Server is not ready

  /healthz/live:
    get:
      tags:
        - health
      summary: Liveness check
      description: Check if server is alive (for Kubernetes liveness probe)
      operationId: livenessCheck
      security: []
      responses:
        '200':
          description: Server is alive

  /metrics:
    get:
      tags:
        - health
      summary: Prometheus metrics endpoint
      description: Expose metrics in Prometheus format
      operationId: prometheusMetrics
      security: []
      responses:
        '200':
          description: Metrics in Prometheus format
          content:
            text/plain:
              schema:
                type: string
              example: |
                # HELP monitoring_agents_total Total number of registered agents
                # TYPE monitoring_agents_total gauge
                monitoring_agents_total 42
                
                # HELP monitoring_checks_total Total number of checks performed
                # TYPE monitoring_checks_total counter
                monitoring_checks_total{status="success"} 15234
                monitoring_checks_total{status="failure"} 156

# ============================================
# ============================================
# ============================================
# COMPONENTS
# ============================================
# ============================================
# ============================================

components:
  securitySchemes:
    OAuth2AuthorizationCode:
      type: oauth2
      description: |
        OAuth2 Authorization Code flow with PKCE support.
        Supports multiple identity providers including Okta, Auth0, Azure AD, and Google.
      flows:
        authorizationCode:
          authorizationUrl: /v1/auth/oauth2/authorize
          tokenUrl: /v1/auth/oauth2/token
          refreshUrl: /v1/auth/oauth2/token
          scopes:
            openid: "OpenID Connect scope"
            profile: "Access to user profile information"
            email: "Access to user email"
            offline_access: "Request refresh token"
            metrics:read: "Read access to metrics and monitoring data"
            metrics:write: "Write access to metrics (internal use)"
            agent:read: "Read access to agent information"
            agent:write: "Manage agents (register, configure)"
            config:read: "Read configuration"
            config:write: "Modify configuration"
            alerts:read: "Read alerts"
            alerts:write: "Create and modify alert rules"
            alerts:delete: "Delete alert rules"
            users:read: "Read user information"
            users:write: "Manage users"
            users:delete: "Delete users"
            roles:read: "Read role information"
            roles:write: "Manage user roles"
            org:read: "Read organization information"
            org:write: "Manage organization"
            websocket:connect: "Connect to WebSocket for real-time updates"
            admin: "Administrative access"
            super_admin: "Super admin access across all organizations"
    
    OAuth2ClientCredentials:
      type: oauth2
      description: |
        OAuth2 Client Credentials flow for service-to-service authentication.
        Used for automated systems and integrations.
      flows:
        clientCredentials:
          tokenUrl: /v1/auth/oauth2/token
          scopes:
            metrics:read: "Read access to metrics"
            metrics:write: "Write access to metrics"
            agent:read: "Read agent information"
            agent:write: "Manage agents"
            alerts:read: "Read alerts"
            alerts:write: "Manage alerts"
    
    AgentApiKey:
      type: apiKey
      in: header
      name: X-Agent-API-Key
      description: |
        API key for agent authentication. Each agent receives a unique API key
        upon registration. This key should be kept secure and rotated periodically.

  # ============================================
  # ============================================
  # PARAMETERS
  # ============================================
  # ============================================

  parameters:
    AgentId:
      name: agentId
      in: path
      required: true
      description: Unique identifier for the agent
      schema:
        $ref: '#/components/schemas/UUIDv7'
    
    AlertId:
      name: alertId
      in: path
      required: true
      description: Unique identifier for the alert
      schema:
        type: string
        format: uuid
    
    UserId:
      name: userId
      in: path
      required: true
      description: Unique identifier for the user
      schema:
        type: string
        format: uuid
    
    OrganizationId:
      name: organizationId
      in: path
      required: true
      description: Unique identifier for the organization
      schema:
        type: string
        format: uuid

  # ============================================
  # ============================================
  # SCHEMAS
  # ============================================
  # ============================================

  schemas:
    # ============================================
    # AGENT SCHEMAS
    # ============================================

    AgentStatus:
      type: object
      required:
        - agent_id
        - agent_version
        - config_version
        - is_running
        - started_at
        - stopped_at
        - checks_performed
        - checks_successful
        - checks_failed
        - last_report_at
        - failed_report_count
        - server_connected
        - cache_stats
      properties:
        agent_id:
          $ref: '#/components/schemas/UUIDv7'
          description: Self-generated UUIDv7 identifier for this agent
          example: "0197f96c-b278-7f64-a32f-dae3cabe1ff0"
        agent_version:
          type: string
          description: Version of the agent
          example: "0.0.1"
        config_version:
          type: integer
          description: Version of the agent configuration
          example: 23
        is_running:
          type: boolean
          description: Whether the agent is currently running
          example: true
        started_at:
          type: string
          format: date-time
          description: Timestamp when the agent started in UTC (RFC3339), null if never started
          example: "2025-11-21T00:04:00.484745200Z"
        stopped_at:
          type: string
          format: date-time
          nullable: true
          description: Timestamp when the agent stopped in UTC (RFC3339), null if running
          example: "2025-11-21T00:04:00.484745200Z"
        checks_performed:
          type: integer
          description: Total number of checks performed by the agent
          example: 12345
        checks_successful:
          type: integer
          description: Number of successful checks
          example: 12000
        checks_failed:
          type: integer
          description: Number of failed checks
          example: 345
        last_report_at:
          type: string
          format: date-time
          description: Timestamp of the last report received from the agent (RFC3339)
          example: "2025-11-21T12:00:00Z"
        failed_report_count:
          type: integer
          description: Number of consecutive failed report attempts
          example: 0
        server_connected:
          type: boolean
          description: Whether the agent is currently connected to the server
          example: true
        cache_stats:
          $ref: '#/components/schemas/AgentCacheStats'
          description: Current state of the local result cache

    AgentCacheStats:
      type: object
      required:
        - len
        - capacity
      properties:
        len:
          type: integer
          description: Number of results currently buffered in the local cache
          example: 42
        capacity:
          type: integer
          description: Maximum number of results the cache can hold (hard cap)
          example: 10000


    AgentCacheStats:
      type: object
      required:
        - len
        - capacity
      properties:
        len:
          type: integer
          description: Number of results currently buffered in the local cache
          example: 42
        capacity:
          type: integer
          description: Maximum number of results the cache can hold (hard cap)
          example: 10000

    AgentConfig:
      type: object
      required:
        - version
        - agent_id
        - agent_name
        - monitoring
        - server
        - storage
        - self_upgrade
        - endpoints
      properties:
        version:
          type: integer
          format: int32
          description: Configuration version (used for syncing with server)
          example: 1
        agent_id:
          $ref: '#/components/schemas/UUIDv7'
          description: Unique identifier for this agent
          example: "0197f96c-b278-7f64-a32f-dae3cabe1ff0"
        agent_name:
          type: string
          description: Human-readable agent name
          example: "Production Server 1"
        tags:
          type: array
          items:
            type: string
          description: Tags for this agent (used for mesh organization)
          example: ["production", "web-server", "us-east"]
        monitoring:
          $ref: '#/components/schemas/MonitoringConfig'
        server:
          $ref: '#/components/schemas/ServerConfig'
        storage:
          $ref: '#/components/schemas/StorageConfig'
        self_upgrade:
          $ref: '#/components/schemas/SelfUpgradeConfig'
        endpoints:
          type: array
          items:
            $ref: '#/components/schemas/Endpoint'
          description: Endpoints to monitor

    MonitoringConfig:
      type: object
      required:
        - interval_secs
        - timeout_secs
        - ping_count
        - max_concurrent
        - traceroute_on_failure
        - traceroute_max_hops
      properties:
        interval_secs:
          type: integer
          format: int64
          description: Interval between checks in seconds
          default: 60
          minimum: 1
          example: 60
        timeout_secs:
          type: integer
          format: int64
          description: Timeout for each check in seconds
          default: 1
          minimum: 1
          example: 5
        ping_count:
          type: integer
          format: int32
          description: Number of pings to send per check
          default: 3
          minimum: 1
          maximum: 100
          example: 3
        max_concurrent:
          type: integer
          description: Maximum number of concurrent checks
          default: 10
          minimum: 1
          example: 10
        traceroute_on_failure:
          type: boolean
          description: Enable traceroute on failed pings
          default: false
          example: false
        traceroute_max_hops:
          type: integer
          format: int32
          description: Maximum TTL for traceroute
          default: 30
          minimum: 1
          maximum: 255
          example: 30

    ServerConfig:
      type: object
      required:
        - report_interval_secs
        - heartbeat_interval_secs
        - verify_tls
        - timeout_secs
        - retry_attempts
      properties:
        url:
          type: string
          format: uri
          description: Server URL
          nullable: true
          example: "https://api.smotra.net"
        api_key:
          type: string
          description: API key for authentication
          nullable: true
          example: "sk_live_1234567890abcdef"
        report_interval_secs:
          type: integer
          format: int64
          description: Report interval in seconds
          default: 300
          minimum: 1
          example: 300
        heartbeat_interval_secs:
          type: integer
          format: int64
          description: Heartbeat interval in seconds
          default: 300
          minimum: 1
          example: 300
        verify_tls:
          type: boolean
          description: Enable TLS verification
          default: true
          example: true
        timeout_secs:
          type: integer
          format: int64
          description: Connection timeout in seconds
          default: 5
          minimum: 1
          example: 5
        retry_attempts:
          type: integer
          format: int32
          description: Retry attempts on failure
          default: 3
          minimum: 0
          example: 3

    StorageConfig:
      type: object
      required:
        - cache_dir
        - max_cached_results
        - max_cache_age_secs
      properties:
        cache_dir:
          type: string
          description: Directory for storing cached data
          default: "./cache"
          example: "./cache"
        max_cached_results:
          type: integer
          description: Maximum number of results to cache
          default: 10000
          minimum: 0
          example: 10000
        max_cache_age_secs:
          type: integer
          format: int64
          description: Maximum age of cached results in seconds (e.g., 86400 = 24 hours)
          default: 86400
          minimum: 0
          example: 86400

    SelfUpgradeConfig:
      type: object
      required:
        - enabled
        - github_repo_url
        - check_interval_secs
      properties:
        enabled:
          type: boolean
          description: Enables self-upgrade checks when true
          default: false
          example: true
        github_repo_url:
          type: string
          format: uri
          description: GitHub repository URL for checking latest releases (must be a public repo)
          example: "https://github.com/smotra-monitoring/agent"
        check_interval_secs:
          type: integer
          format: int64
          description: Periodic self-upgrade check interval in seconds
          minimum: 60
          default: 86400
          example: 86400

    Endpoint:
      type: object
      description: An endpoint to monitor (IP address, hostname, or URL)
      required:
        - id
        - address
        - enabled
        - tags
      properties:
        id:
          $ref: '#/components/schemas/UUIDv7'
          description: Unique identifier for the monitoring target
        address:
          type: string
          description: IP address, hostname, or URL
        port:
          type: integer
          minimum: 1
          maximum: 65535
        enabled:
          type: boolean
          default: true
        tags:
          type: array
          items:
            type: string
          description: Tags associated with the target
          example: ["database", "critical"]

    MonitoringResult:
      type: object
      required:
        - id
        - agent_id
        - endpoint_id
        - check_type
        - timestamp
      properties:
        id:
          $ref: '#/components/schemas/UUIDv7'
          description: Unique identifier for the monitoring result
        agent_id:
          $ref: '#/components/schemas/UUIDv7'
          description: Unique identifier for the agent
        endpoint_id:
          $ref: '#/components/schemas/UUIDv7'
          description: UUID of the endpoint being monitored
        check_type:
          $ref: '#/components/schemas/CheckType'
          description: Type of check performed
        timestamp:
          type: string
          format: date-time
          description: Timestamp when the report was generated (RFC3339)
          example: "2025-11-19T10:30:00Z"

    BatchMonitoringResults:
      type: object
      required:
        - results
      description: |
        A batch of monitoring results submitted by an agent from its local cache.
        The server deduplicates entries by `MonitoringResult.id`.
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/MonitoringResult'
          description: Ordered list of monitoring results (oldest-first)

    CheckType:
      oneOf:
        - $ref: '#/components/schemas/PingCheck'
        - $ref: '#/components/schemas/TracerouteCheck'
        - $ref: '#/components/schemas/TcpConnectCheck'
        - $ref: '#/components/schemas/UdpConnectCheck'
        - $ref: '#/components/schemas/HttpGetCheck'
        - $ref: '#/components/schemas/PluginCheck'
      discriminator:
        propertyName: type
        mapping:
          ping: '#/components/schemas/PingCheck'
          traceroute: '#/components/schemas/TracerouteCheck'
          tcpconnect: '#/components/schemas/TcpConnectCheck'
          udpconnect: '#/components/schemas/UdpConnectCheck'
          httpget: '#/components/schemas/HttpGetCheck'
          plugin: '#/components/schemas/PluginCheck'

    PingCheckType:
      type: string
      enum: [ping]

    TracerouteCheckType:
      type: string
      enum: [traceroute]

    TcpConnectCheckType:
      type: string
      enum: [tcpconnect]

    UdpConnectCheckType:
      type: string
      enum: [udpconnect]

    HttpGetCheckType:
      type: string
      enum: [httpget]

    PluginCheckType:
      type: string
      enum: [plugin]

    PingCheck:
      type: object
      required: [type, result]
      properties:
        type:
          $ref: '#/components/schemas/PingCheckType'
        result:
          $ref: '#/components/schemas/PingResult'

    PingResult:
      type: object
      required:
        - resolved_ip
        - successes
        - failures
        - success_latencies
      properties:
        resolved_ip:
          type: string
          format: ipv4
          description: Resolved IP address of the target
          example: "4.2.2.2"
        successes:
          type: integer
          format: int32
        failures:
          type: integer
          format: int32
        success_latencies:
          type: array
          items:
            type: number
            format: double
          example: [12.5, 13.0, 11.8]
        error_details:
          $ref: '#/components/schemas/ErrorDetails'
          nullable: true

    TracerouteCheck:
      type: object
      required: [type, result]
      properties:
        type:
          $ref: '#/components/schemas/TracerouteCheckType'
        result:
          $ref: '#/components/schemas/TracerouteResult'

    TracerouteResult:
      type: object
      required:
        - hops
        - target_reached
      properties:
        hops:
          type: array
          items:
            $ref: '#/components/schemas/TracerouteHop'
        target_reached:
          type: boolean
        error_details:
          $ref: '#/components/schemas/ErrorDetails'
          nullable: true

    TracerouteHop:
      type: object
      required:
        - hop
      properties:
        hop:
          type: integer
          format: int32
        resolved_ip:
          type: string
          format: ipv4
          description: Resolved IP address of the target
          example: "4.2.2.2"
        success_latencies:
          type: array
          items:
            type: number
            format: double
          example: [12.5, 13.0, 11.8]
        hostname:
          type: string

    TcpConnectCheck:
      type: object
      required: [type, result]
      properties:
        type:
          $ref: '#/components/schemas/TcpConnectCheckType'
        result:
          $ref: '#/components/schemas/TcpConnectResult'

    TcpConnectResult:
      type: object
      required:
        - connected
        - resolved_ip
      properties:
        connected:
          type: boolean
        connect_time_ms:
          type: number
          format: double
          nullable: true
        error_details:
          $ref: '#/components/schemas/ErrorDetails'
          nullable: true
        resolved_ip:
          type: string

    UdpConnectCheck:
      type: object
      required: [type, result]
      properties:
        type:
          $ref: '#/components/schemas/UdpConnectCheckType'
        result:
          $ref: '#/components/schemas/UdpConnectResult'

    UdpConnectResult:
      type: object
      required:
        - probe_successful
        - resolved_ip
      properties:
        probe_successful:
          type: boolean
        response_time_ms:
          type: number
          format: double
          nullable: true
        error_details:
          $ref: '#/components/schemas/ErrorDetails'
          nullable: true
        resolved_ip:
          type: string

    HttpGetCheck:
      type: object
      required: [type, result]
      properties:
        type:
          $ref: '#/components/schemas/HttpGetCheckType'
        result:
          $ref: '#/components/schemas/HttpGetResult'

    HttpGetResult:
      type: object
      required:
        - status_code
        - success
      properties:
        status_code:
          type: integer
          format: int32
        response_time_ms:
          type: number
          format: double
          nullable: true
        response_size_bytes:
          type: integer
          format: int64
          nullable: true
        error_details:
          $ref: '#/components/schemas/ErrorDetails'
          nullable: true
        success:
          type: boolean

    PluginCheck:
      type: object
      required: [type, result]
      properties:
        type:
          $ref: '#/components/schemas/PluginCheckType'
        result:
          $ref: '#/components/schemas/PluginResult'

    PluginResult:
      type: object
      required:
        - plugin_name
        - plugin_version
        - success
        - data
      properties:
        plugin_name:
          type: string
        plugin_version:
          type: string
        success:
          type: boolean
        response_time_ms:
          type: number
          format: double
          nullable: true
        error_details:
          $ref: '#/components/schemas/ErrorDetails'
          nullable: true
        data:
          type: object
          additionalProperties:
            type: string

    ErrorDetails:
      type: object
      nullable: true
      description: "Error information from a check, stored as an extensible JSON object"
      properties:
        errors:
          type: array
          items:
            type: string
          description: List of error messages from the check
          example: ["Timeout", "Host unreachable"]

    AgentHeartbeat:
      type: object
      required:
        - timestamp
        - health_status
        - metrics
        - agent_status
      properties:
        timestamp:
          type: string
          format: date-time
          description: Agent-local timestamp when the heartbeat was generated (RFC3339)
        health_status:
          $ref: '#/components/schemas/AgentHealthStatus'
          description: Health status of the agent
        metrics:
          $ref: '#/components/schemas/AgentMetrics'
          description: System resource utilisation metrics
        agent_status:
          $ref: '#/components/schemas/AgentStatus'
          description: Current status of the agent

    AgentMetrics:
      type: object
      required:
        - cpu_usage_percent
        - memory_usage_mb
        - memory_total_mb
        - system_uptime_secs
        - agent_uptime_secs
      properties:
        agent_uptime_secs:
          type: integer
          format: int64
          minimum: 0
          description: How long the agent process has been running in seconds; useful for detecting crashes and restarts
        cpu_usage_percent:
          type: number
          format: float
          minimum: 0
          maximum: 100
          description: CPU utilization percentage (0.0–100.0)
        memory_usage_mb:
          type: number
          format: float
          minimum: 0
          description: Resident memory currently in use (MB)
        memory_total_mb:
          type: number
          format: float
          minimum: 0
          description: Total physical memory available (MB)
        system_uptime_secs:
          type: integer
          format: int64
          minimum: 0
          description: System uptime in seconds

    # ============================================
    # NOT CHECKED 
    # ============================================

    Metric:
      type: object
      required:
        - type
        - target
        - status
      properties:
        type:
          type: string
          enum: [icmp_ping, tcp_check, http_check, traceroute, custom]
          description: Type of check performed
        target:
          type: string
          description: Target host, IP, or URL
          example: "192.168.1.100"
        status:
          $ref: '#/components/schemas/MetricStatus'
          description: Status of the check
        response_time_ms:
          type: number
          format: float
          nullable: true
          description: Response time in milliseconds
          example: 12.5
        packet_loss_percent:
          type: number
          format: float
          minimum: 0
          maximum: 100
          nullable: true
          description: Packet loss percentage for ping checks
        status_code:
          type: integer
          nullable: true
          description: HTTP status code for HTTP checks
        error_message:
          type: string
          nullable: true
          description: Error message if check failed
        metadata:
          type: object
          additionalProperties: true
          description: Additional metric-specific data

    AgentRegistration:
      type: object
      required:
        - hostname
        - ip_address
      properties:
        hostname:
          type: string
          example: "web-server-01"
        ip_address:
          type: string
          format: ipv4
          example: "192.168.1.100"
        agent_version:
          type: string
          example: "1.2.3"
        os:
          type: string
          example: "linux"
        arch:
          type: string
          example: "x86_64"
        tags:
          type: object
          additionalProperties:
            type: string
          description: Custom tags for organizing agents
          example:
            environment: "production"
            datacenter: "us-east-1"

    AgentNetworkInterface:
      type: object
      required:
        - ip
        - iface
        - family
        - recommended
      properties:
        ip:
          type: string
          description: IP address of the network interface (IPv4 or IPv6, excluding loopback and link-local)
          example: "192.168.1.10"
        iface:
          type: string
          description: Name of the network interface
          example: "eth0"
        family:
          $ref: '#/components/schemas/IpAddressFamily'
          description: IP address family
          example: "ipv4"
        recommended:
          type: boolean
          description: |
            Whether this address is recommended for the server to use when communicating
            with the agent. Determined by the agent using the OS routing table: the source
            IP the OS selects when opening a connection toward the server is marked as
            recommended. Only one entry will have recommended=true.
          example: true

    Agent:
      type: object
      required:
        - id
        - sectionId
        - name
        - configVersion
        - createdAt
        - updatedAt
      properties:
        id:
          $ref: '#/components/schemas/UUIDv7'
          description: Unique agent identifier
        sectionId:
          type: string
          description: Section (organizational unit) this agent belongs to
          example: "01930000-0000-7000-0000-000000000001"
        name:
          type: string
          description: Human-readable agent name
          example: "prod-server-01"
        configVersion:
          type: integer
          description: Current configuration version
          example: 3
        agentVersion:
          type: string
          nullable: true
          description: Version of the agent software, null if not yet reported
          example: "1.2.0"
        ipAddresses:
          type: array
          description: Network interfaces reported by the agent
          items:
            $ref: '#/components/schemas/AgentNetworkInterface'
        lastSeenAt:
          type: string
          format: date-time
          nullable: true
          description: Timestamp of the last heartbeat received from the agent
          example: "2026-05-30T10:00:00Z"
        lastResultSubmittedAt:
          type: string
          format: date-time
          nullable: true
          description: Timestamp of the last monitoring result submission
          example: "2026-05-30T09:55:00Z"
        createdAt:
          type: string
          format: date-time
          description: Timestamp when the agent was registered
          example: "2026-01-01T00:00:00Z"
        updatedAt:
          type: string
          format: date-time
          description: Timestamp when the agent record was last updated
          example: "2026-05-30T10:00:00Z"

    AgentListResponse:
      type: object
      required:
        - agents
        - pagination
      properties:
        agents:
          type: array
          items:
            $ref: '#/components/schemas/Agent'
        pagination:
          $ref: '#/components/schemas/Pagination'

    AgentSelfRegistration:
      type: object
      required:
        - agentId
        - claimTokenHash
        - hostname
        - agentVersion
        - ipAddresses
      properties:
        agentId:
          $ref: '#/components/schemas/UUIDv7'
          description: Self-generated UUIDv7 identifier for this agent
          example: "0197f96c-b278-7f64-a32f-dae3cabe1ff0"
        claimTokenHash:
          type: string
          minLength: 64
          maxLength: 64
          pattern: '^[a-f0-9]{64}$'
          description: SHA-256 hash of the claim token (plain token shown in agent logs for user)
          example: "5e884898da28047151d0e56f8dc6292773603d0d6aabbdd62a11ef721d1542d8"
        hostname:
          type: string
          description: System hostname of the machine running the agent
          example: "prod-server-01"
        agentVersion:
          type: string
          description: Version of the agent software
          example: "1.0.0"
        ipAddresses:
          type: array
          description: |
            List of all non-loopback, non-link-local network interfaces on the agent host.
            Loopback (127.x.x.x / ::1) and link-local (169.254.x.x / fe80::/10) addresses
            are excluded. The server should store all addresses and allow the operator to
            select the preferred one during the claim process. The entry with
            recommended=true reflects the OS-selected source IP for connections toward
            the server (determined via routing table, no traffic sent).
          minItems: 1
          items:
            $ref: '#/components/schemas/AgentNetworkInterface'
          example:
            - ip: "192.168.1.10"
              iface: "eth0"
              family: "ipv4"
              recommended: true
            - ip: "10.0.0.5"
              iface: "eth1"
              family: "ipv4"
              recommended: false
            - ip: "2001:db8::1"
              iface: "eth0"
              family: "ipv6"
              recommended: false

    AgentRegistrationResponse:
      type: object
      required:
        - status
        - pollUrl
        - claimUrl
        - expiresAt
      properties:
        status:
          title: RegistrationStatus
          $ref: '#/components/schemas/RegistrationStatus'
          description: Current status of the registration
        pollUrl:
          type: string
          format: uri-reference
          description: URL for agent to poll for claim status
          example: "/agent/0197f96c-b278-7f64-a32f-dae3cabe1ff0/claim-status"
        claimUrl:
          type: string
          format: uri
          description: URL for user to claim the agent (web UI)
          example: "https://yoursite.com/claim"
        expiresAt:
          type: string
          format: date-time
          description: When the claim token expires (RFC3339)
          example: "2026-02-01T12:00:00Z"

    ClaimStatusPending:
      type: object
      required:
        - status
        - expiresAt
        - pollIn
      properties:
        status:
          title: ClaimStatusPendingEnum
          $ref: '#/components/schemas/ClaimStatusPendingEnum'
          description: Agent is waiting to be claimed
        expiresAt:
          type: string
          format: date-time
          description: When the claim token expires (RFC3339)
          example: "2026-02-01T12:00:00Z"
        pollIn:
          type: integer
          format: int32
          description: Seconds until next poll (server-controlled backoff)
          example: 30
          minimum: 1

    ClaimStatusClaimed:
      type: object
      required:
        - status
        - apiKey
        - configUrl
      properties:
        status:
          $ref: '#/components/schemas/ClaimStatusClaimedEnum'
          description: Agent has been claimed and API key is ready
        apiKey:
          type: string
          description: API key for authenticated requests (one-time delivery)
        configUrl:
          type: string
          format: uri-reference
          description: URL to fetch agent configuration
          example: "/agent/0197f96c-b278-7f64-a32f-dae3cabe1ff0/configuration"

    ClaimAgentRequest:
      type: object
      required:
        - agentId
        - claimToken
        - sectionId
      properties:
        agentId:
          $ref: '#/components/schemas/UUIDv7'
          description: Agent ID from agent logs
          example: "0197f96c-b278-7f64-a32f-dae3cabe1ff0"
        claimToken:
          type: string
          description: Claim token from agent logs
          example: "ABC123XY"
        sectionId:
          $ref: '#/components/schemas/UUIDv7'
          description: Section to assign this agent to within your tenant
          example: "0197f96d-1234-7f64-a32f-dae3cabe1ff0"
        name:
          type: string
          description: Human-readable name for the agent (defaults to hostname if not provided)
          example: "Production Server 01"

    ClaimAgentResponse:
      type: object
      required:
        - agentId
        - status
        - message
      properties:
        agentId:
          $ref: '#/components/schemas/UUIDv7'
          description: The claimed agent's ID
          example: "0197f96c-b278-7f64-a32f-dae3cabe1ff0"
        status:
          $ref: '#/components/schemas/ClaimResponseStatus'
          description: Claim status
        message:
          type: string
          description: Human-readable message
          example: "Agent will receive API key on next poll"

    PluginConfiguration:
      type: object
      required:
        - name
        - enabled
      properties:
        name:
          type: string
        version:
          type: string
        enabled:
          type: boolean
        configuration:
          type: object
          additionalProperties: true

    Thresholds:
      type: object
      properties:
        response_time_warning_ms:
          type: number
          format: float
          default: 100
        response_time_critical_ms:
          type: number
          format: float
          default: 500
        packet_loss_warning_percent:
          type: number
          format: float
          default: 10
        packet_loss_critical_percent:
          type: number
          format: float
          default: 50

    RetryPolicy:
      type: object
      properties:
        max_retries:
          type: integer
          minimum: 0
          default: 3
        retry_delay_seconds:
          type: integer
          minimum: 1
          default: 5
        backoff_multiplier:
          type: number
          format: float
          minimum: 1
          default: 2

    # ============================================
    # RESULT SCHEMAS
    # ============================================

    ResultsBatchAcknowledgment:
      type: object
      required:
        - submission_id
        - accepted
        - received_at
      properties:
        submission_id:
          $ref: '#/components/schemas/UUIDv7'
          description: Server-assigned ID for this batch submission
        accepted:
          type: integer
          description: Number of results accepted for processing
          example: 25
        duplicates_skipped:
          type: integer
          description: Number of results deduplicated (already known to the server)
          example: 0
        received_at:
          type: string
          format: date-time
          description: Timestamp when the batch was received by the server

    # ============================================
    ResultReport:
      type: object
      required:
        - time_range
        - data
        - pagination
      properties:
        time_range:
          type: object
          required:
            - start
            - end
          properties:
            start:
              type: string
              format: date-time
            end:
              type: string
              format: date-time
        aggregation:
          type: string
          example: "5m"
        data:
          type: array
          items:
            $ref: '#/components/schemas/AggregatedMetric'
        pagination:
          $ref: '#/components/schemas/Pagination'
        metadata:
          type: object
          properties:
            total_checks:
              type: integer
            successful_checks:
              type: integer
            failed_checks:
              type: integer
            average_response_time_ms:
              type: number
              format: float

    AggregatedMetric:
      type: object
      required:
        - timestamp
        - agent_id
        - target
        - metric_type
      properties:
        timestamp:
          type: string
          format: date-time
        agent_id:
          $ref: '#/components/schemas/UUIDv7'
        hostname:
          type: string
        target:
          type: string
        metric_type:
          type: string
        status:
          $ref: '#/components/schemas/AggregatedMetricStatus'
        avg_response_time_ms:
          type: number
          format: float
        min_response_time_ms:
          type: number
          format: float
        max_response_time_ms:
          type: number
          format: float
        p50_response_time_ms:
          type: number
          format: float
        p95_response_time_ms:
          type: number
          format: float
        p99_response_time_ms:
          type: number
          format: float
        success_rate_percent:
          type: number
          format: float
        check_count:
          type: integer

    MetricsResponse:
      type: object
      required:
        - metrics
        - pagination
      properties:
        metrics:
          type: array
          items:
            type: object
            required:
              - timestamp
              - metric
            properties:
              timestamp:
                type: string
                format: date-time
              metric:
                $ref: '#/components/schemas/Metric'
        pagination:
          $ref: '#/components/schemas/Pagination'

    SummaryStatistics:
      type: object
      properties:
        time_range:
          type: string
          example: "24h"
        total_agents:
          type: integer
        active_agents:
          type: integer
        inactive_agents:
          type: integer
        total_targets:
          type: integer
        reachable_targets:
          type: integer
        unreachable_targets:
          type: integer
        degraded_targets:
          type: integer
        total_checks:
          type: integer
        successful_checks:
          type: integer
        failed_checks:
          type: integer
        average_response_time_ms:
          type: number
          format: float
        active_alerts:
          type: integer
        by_agent:
          type: array
          items:
            type: object
            properties:
              agent_id:
                $ref: '#/components/schemas/UUIDv7'
              hostname:
                type: string
              status:
                type: string
              checks_performed:
                type: integer
              success_rate_percent:
                type: number
                format: float

    # ============================================
    # ALERT SCHEMAS
    # ============================================

    Alert:
      type: object
      required:
        - id
        - rule_id
        - status
        - severity
        - created_at
      properties:
        id:
          type: string
          format: uuid
        rule_id:
          type: string
          format: uuid
        title:
          type: string
        description:
          type: string
        status:
          $ref: '#/components/schemas/AlertStatus'
        severity:
          type: string
          enum: [critical, warning, info]
        agent_id:
          type: string
        target:
          type: string
        metric_type:
          type: string
        threshold_value:
          type: number
        current_value:
          type: number
        created_at:
          type: string
          format: date-time
        acknowledged_at:
          type: string
          format: date-time
          nullable: true
        acknowledged_by:
          type: string
          nullable: true
        resolved_at:
          type: string
          format: date-time
          nullable: true

    AlertRule:
      type: object
      required:
        - name
        - condition
        - severity
        - notifications
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
        name:
          type: string
          example: "High Response Time Alert"
        description:
          type: string
        enabled:
          type: boolean
          default: true
        condition:
          $ref: '#/components/schemas/AlertCondition'
        severity:
          type: string
          enum: [critical, warning, info]
        notifications:
          type: array
          items:
            $ref: '#/components/schemas/NotificationChannel'
        cooldown_seconds:
          type: integer
          minimum: 0
          default: 300
          description: Minimum time between repeat notifications

    AlertCondition:
      type: object
      required:
        - metric
        - operator
        - threshold
      properties:
        metric:
          type: string
          enum: [response_time_ms, packet_loss_percent, status, uptime_percent]
        operator:
          type: string
          enum: [greater_than, less_than, equals, not_equals]
        threshold:
          type: number
        duration_seconds:
          type: integer
          minimum: 0
          description: Condition must be true for this duration before alerting
        aggregation:
          type: string
          enum: [avg, min, max, sum, count]
          default: avg
        filters:
          type: object
          properties:
            agent_ids:
              type: array
              items:
                type: string
            targets:
              type: array
              items:
                type: string
            metric_types:
              type: array
              items:
                type: string

    NotificationChannel:
      type: object
      required:
        - type
      properties:
        type:
          type: string
          enum: [discord, email, webhook, slack, pagerduty, teams]
        configuration:
          type: object
          additionalProperties: true
          description: Channel-specific configuration
          examples:
            - type: discord
              configuration:
                webhook_url: "https://discord.com/api/webhooks/..."
            - type: email
              configuration:
                recipients: ["ops@example.com"]
                subject_template: "[{{ severity }}] {{ title }}"
            - type: slack
              configuration:
                channel: "#alerts"
                webhook_url: "https://hooks.slack.com/services/..."

    # ============================================
    # AUTHENTICATION & AUTHORIZATION SCHEMAS
    # ============================================

    TokenResponse:
      type: object
      required:
        - opaque_token
        - expires_at
      properties:
        opaque_token:
          type: string
          description: |
            Server-managed opaque session token. Use as a Bearer token in the
            Authorization header for all subsequent requests.
            Format: st_live_<hex> (production) or st_test_<hex> (dev/test).
          example: "st_live_.............................."
        expires_at:
          type: string
          format: date-time
          description: |
            Hard expiry time (ISO 8601). The session will never be valid after
            this timestamp regardless of activity. Use this to schedule a
            proactive re-login in the client (e.g. at the midpoint).
          example: "2025-10-15T12:00:00Z"

    UserInfo:
      type: object
      required:
        - sub
      properties:
        sub:
          type: string
          description: Subject identifier (user ID)
          example: "user-12345"
        email:
          type: string
          format: email
          example: "user@example.com"
        email_verified:
          type: boolean
        name:
          type: string
          example: "John Doe"
        given_name:
          type: string
          example: "John"
        family_name:
          type: string
          example: "Doe"
        picture:
          type: string
          format: uri
          example: "https://example.com/avatar.jpg"
        organization_id:
          type: string
          format: uuid
        roles:
          type: array
          items:
            type: string
          example: ["admin", "operator"]
        permissions:
          type: array
          items:
            type: string
          example: ["metrics:read", "agent:write"]

    # ============================================
    # USER MANAGEMENT SCHEMAS
    # ============================================

    User:
      type: object
      required:
        - id
        - email
        - created_at
      properties:
        id:
          type: string
          format: uuid
        email:
          type: string
          format: email
        name:
          type: string
        roles:
          type: array
          items:
            type: string
            enum: [admin, operator, viewer]
        organization_id:
          type: string
          format: uuid
        status:
          title: UserStatus
          $ref: '#/components/schemas/UserStatus'
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        last_login_at:
          type: string
          format: date-time
          nullable: true
        identity_provider:
          type: string
          description: Which OAuth2 provider the user authenticated with
          example: "okta"
        external_id:
          type: string
          description: User ID from external identity provider

    CreateUserRequest:
      type: object
      required:
        - email
        - roles
      properties:
        email:
          type: string
          format: email
        name:
          type: string
        roles:
          type: array
          items:
            type: string
            enum: [admin, operator, viewer]
          minItems: 1
        organization_id:
          type: string
          format: uuid
          description: Required for super admins creating users in other orgs

    UpdateUserRequest:
      type: object
      properties:
        name:
          type: string
        status:
          $ref: '#/components/schemas/UpdateUserStatus'
        roles:
          type: array
          items:
            type: string
            enum: [admin, operator, viewer]

    # ============================================
    # ORGANIZATION SCHEMAS
    # ============================================

    Organization:
      type: object
      required:
        - id
        - name
        - created_at
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
          example: "Acme Corporation"
        slug:
          type: string
          pattern: '^[a-z0-9-]+$'
          example: "acme-corp"
        status:
          $ref: '#/components/schemas/OrganizationStatus'
        plan:
          type: string
          enum: [free, professional, enterprise]
        settings:
          type: object
          properties:
            max_agents:
              type: integer
            retention_days:
              type: integer
            features:
              type: array
              items:
                type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    CreateOrganizationRequest:
      type: object
      required:
        - name
      properties:
        name:
          type: string
        slug:
          type: string
          pattern: '^[a-z0-9-]+$'
        plan:
          type: string
          enum: [free, professional, enterprise]
          default: free

    # ============================================
    # HEALTH SCHEMAS
    # ============================================

    SystemStatus:
      type: object
      required:
        - status
        - timestamp
      properties:
        status:
          title: SystemHealthStatus
          $ref: '#/components/schemas/SystemHealthStatus'
        timestamp:
          type: string
          format: date-time
        version:
          type: string
          example: "1.0.0"
        uptime_seconds:
          type: integer
        components:
            $ref: '#/components/schemas/ComponentsStatus'

    ComponentsStatus:
      type: object
      additionalProperties:
        $ref: '#/components/schemas/ComponentStatus'
      example:
        database:
          status: "healthy"
          response_time_ms: 2.5
        redis:
          status: "healthy"
          response_time_ms: 0.8
        oauth_provider:
          status: "healthy"
          message: "Connected to Okta"
        agents:
          status: "healthy"
          message: "42 agents connected"
        websocket:
          status: "healthy"
          message: "15 active connections"

    ComponentStatus:
      type: object
      required:
        - status
      properties:
        status:
          title: ComponentHealthStatus
          $ref: '#/components/schemas/ComponentHealthStatus'
        message:
          type: string
        response_time_ms:
          type: number
          format: float
      example:
        database:
          status: "healthy"
          response_time_ms: 2.5


    # ============================================
    # COMMON SCHEMAS
    # ============================================

    # Status enums (extracted to avoid name conflicts)
    AgentHealthStatus:
      type: string
      enum: [healthy, degraded]
      description: Health status of the agent

    MetricStatus:
      type: string
      enum: [reachable, unreachable, degraded, unknown]
      description: Status of a monitoring check

    RegistrationStatus:
      type: string
      enum: [pending_claim]
      description: Status of agent registration

    IpAddressFamily:
      type: string
      enum: [ipv4, ipv6]
      description: IP address family (IPv4 or IPv6)

    ClaimStatusPendingEnum:
      type: string
      enum: [pending_claim]
      description: Pending claim status   

    ClaimStatusClaimedEnum:
      type: string
      enum: [claimed]
      description: Claimed status

    ClaimResponseStatus:
      type: string
      enum: [claimed]
      description: Status in claim response

    ReportAckStatus:
      type: string
      enum: [accepted, queued]
      description: Report acknowledgment status

    AggregatedMetricStatus:
      type: string
      enum: [reachable, unreachable, degraded, unknown]
      description: Metric status

    AlertStatus:
      type: string
      enum: [active, acknowledged, resolved]
      description: Alert status

    UserStatus:
      type: string
      enum: [active, inactive, suspended]
      description: User account status

    UpdateUserStatus:
      type: string
      enum: [active, inactive, suspended]
      description: Updated user status

    OrganizationStatus:
      type: string
      enum: [active, suspended, trial]
      description: Organization status

    SystemHealthStatus:
      type: string
      enum: [healthy, degraded, unhealthy]
      description: System health status

    ComponentHealthStatus:
      type: string
      enum: [healthy, degraded, unhealthy]
      description: Component health status

    UUIDv7:
      type: string
      format: uuid
      description: UUID version 7 as per RFC 4122
      example: "0183f5e2-1dd2-7f8a-9abc-1234567890ab"
      x-rust-type: Uuid
      x-go-type: uuid.UUID
      x-go-type-import:
        name: uuid
        path: github.com/google/uuid

    Pagination:
      type: object
      required:
        - page
        - page_size
        - total_items
        - total_pages
[...]
